.movie-picker-container {
  background: black;
  position: absolute;
  top: 0;
  height: 100%;
  left: calc(50% - 199px);
  width: 398px;
  border: 5px ;
  box-shadow: 0 0 50px 50px;
  overflow: auto;

  .movie-picker-relative-container {
    height: 860px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .movie-poster {
      width: 290px;
      margin-top: 90px;
    }

    div.movie-poster {
      letter-spacing: 1px;
      font-family: 'VT323', monospace;
      font-size: 48px;
      color: #cc2c2e;
      text-align: center;
      height: 430px;
      display: flex;
      align-items: center;
    }

    .movie-info {
      color: #cc2c2e;
      font-size: 16px;
      letter-spacing: 1px;
      height: 250px;
      width: 150px;
      font-family: 'VT323', monospace;
      overflow: hidden;
      margin: 0px 60px 20px auto;
    }

    .loading-video {
      display: none;
      position: absolute;
      height: 823px;
      margin-top: 50px;

      &.show {
        display: block;
      }
    }

    .television-overlay {
      position: absolute;
      top: calc(50% - 380px);
      left: 0;
      width: 100%;
      height: 823px;
      background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
    }

    .press-me-btn {
      position: absolute;
      bottom: 50px;
      left: 50px;
      height: 70px;
      width: 75px;
      border-radius: 100%;
      cursor: pointer;
      background: transparent;
      border: none;
      
      &:focus {
        outline: none;
      }
    }
  }
}